<%= form_with(model: confession, local: true) do |form| %>
  <div class="field">
    <%= form.label :title, class: "label"%>
    <div class="control">
      <%= form.text_field :title, class: "input", placeholder: "Confession Title" %>
    </div>
    <% if confession.errors.any? %>
      <% confession.errors.full_messages.each do |message| %>
        <p class="help is-danger"><%= message%></p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :text, class: "label" %>
    <div class="control">
      <%= form.text_field :text, class: "input", placeholder: "Get it off yout chest honey" %>
    </div>
    <% if confession.errors.any? %>
      <% confession.errors.full_messages.each do |message| %>
        <p class="help is-danger"><%= message%></p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <div class="actions control">
      <%= form.submit :Confess, class:"button is-primary"%>
    </div>
  </div>
<% end %>
